body {
    /* font-family: 'New Tegomin', serif; */
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #023d7b;
}

a {
    color: #023d7b;
}

h1 {
    text-shadow: 2px 2px hsl(211, 97%, 25%);
    font-weight:900;
    letter-spacing: 0.2em;
}

h3, h5 {
    font-weight: 900;
}

#cy {
    border: 1px solid #023d7b;
    width: 100%;
}

#autoComplete {
    border: 1px solid #023d7b;
    color: #023d7b;
    height: 2em;
    /* padding: 1em; */
    margin-top: 2px;
    background-position: 3% 50%;
    background-image: url(../img/search.svg);
}

#autoComplete::placeholder {
    color: rgba(#023d7b,0.5);
}

#autoComplete:hover::placeholder {
    color: rgba(#023d7b,0.6);
}

#autoComplete:focus::placeholder {
    color: rgba(#023d7b,0.7);
}

#autoComplete:focus {
    color: #023d7b;
    border: 1px solid #023d7b;
}

.active {
    font-weight: 900;
}

.centered {
    margin:auto;
    display:block;
    text-align:center;
}

.centered h1, h2 {
    color:white;
}

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    right: 0;
    z-index: 100; /* Behind the navbar */
    padding: 68px 10px 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

.filterBox {
    margin-left:60px;
}

.autoCompleteList {
    position: absolute;
    z-index: 2;
    background: rgba(2, 61, 123,0.9);
    width: 20%;
    padding-left:0.5em;
}

.autoComplete_result:hover {
    cursor: pointer;
    background-color: rgba(255,122,122, 0.7);
  }