body {
    /* font-family: 'New Tegomin', serif; */
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #023d7b;
}

a {
    color: #023d7b;
}

h1.h1 {
    text-shadow: 2px 2px hsl(211, 97%, 25%);
    font-weight:900;
    letter-spacing: 0.3em;
    font-size:3em;
}

h3, h4, h5 {
    font-weight: 900;
}

#cy {
    /* border: 1px solid #023d7b; */
    width: 100%;
}

#autoComplete {
    border: 1px solid #023d7b;
    color: #023d7b;
    height: 2em;
    /* position:absolute; */
    bottom:2px;
    max-width:250px;
    /* padding: 1em; */
    margin-top: 33px;
    background-position: 3% 50%;
    background-image: url(../img/search.svg);
}

#autoComplete::placeholder {
    color: rgba(#023d7b,0.5);
}

#autoComplete:hover::placeholder {
    color: rgba(#023d7b,0.6);
}

#autoComplete:focus::placeholder {
    color: rgba(#023d7b,0.7);
}

#autoComplete:focus {
    color: #023d7b;
    border: 1px solid #023d7b;
}

.active {
    font-weight: 900;
}

.centered {
    margin:auto;
    display:block;
    text-align:center;
}

.centered h1, h2 {
    color:white;
}

.headerTitle {
    color:white;
}

.universityTitleContainer {
    color: white;
    background-color: rgba(2, 61, 123,1);
}

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    border-left: 1px solid rgb(2,61,123);
    right: 0;
    z-index: 100; /* Behind the navbar */
    padding: 110px 10px 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

.filterBox {
    text-align:center;
}

.multiselect-input {
    background-color: #B3A369;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    color:white;
    font-size:1.4em;
    border:none;
}

.multiselect-input-div {
    border:none;
}

.autoCompleteList {
    position: absolute;
    z-index: 2;
    background: rgba(2, 61, 123,0.9);
    width: 20%;
    padding-left:0.5em;
}

.autoComplete_result:hover {
    cursor: pointer;
    background-color: rgba(2, 61, 123,0.4);
  }

.no_result {
    list-style-type: none;
}

.debtDescription {
    font-size: 80%;
}

button.openFilter {
    background: rgb(2,61,123);
}

/* .filterDropdownContainer {
    visibility:hidden;
} */
#updateFiltersButton {
    position: absolute;
    bottom: 2px;
    border: 2px solid rgba(2,61,123,.4);
    font-size: 1.2em;
    color: white;
    /* box-shadow: 1px 1px blue; */
    border-radius: 5px;
    background-color: #B3A369;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%);
}

.videoIcon {
    width: 70px;
    margin-top: 10px;
}

.infoCircle {
    width: 20px;
    margin-top: 30px;
    margin-left:6px;
}

.popperTooltip {
    background-color: rgba(2,61,123,.95);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    max-width:350px;
    display:none;
  }

  .popperTooltip[data-show] {
    display: block;
  }
/*
#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#arrow[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
  }
  
  #arrow[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
  }
  
  #arrow[data-popper-placement^='left'] > #arrow {
    right: -4px;
  }
  
  #arrow[data-popper-placement^='right'] > #arrow {
    left: -4px;
  }

 
#repaymentArrow,
#repaymentArrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#repaymentArrow {
  visibility: hidden;
}

#repaymentArrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#repaymentArrow[data-popper-placement^='top'] > #repaymentArrow {
    bottom: -4px;
  }
  
  #repaymentArrow[data-popper-placement^='bottom'] > #repaymentArrow {
    top: -4px;
  }
  
  #repaymentArrow[data-popper-placement^='left'] > #repaymentArrow {
    right: -4px;
  }
  
  #repaymentArrow[data-popper-placement^='right'] > #repaymentArrow {
    left: -4px;
  } */